*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    margin: 0 auto;
    padding: 35px 220px 45px 220px;
    font-family: Arial, Helvetica, sans-serif;
    width: 1500px;
}
#header{
    background-image: url(/Bai01/images/header-bg-1024x150.png);
    text-align: center;
    background-repeat: no-repeat;
    height: 110px;
    background-size: cover;
    padding-top: 20px; 
}
.header-text{
    border: 2.5px solid black;
    margin: 10px 170px 10px 170px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 27px;
    padding: ;
    
}
.text-menu{
    border: 1px solid #bfbfbf;
    background-color: #bfbfbf;
    padding: 10px 5px 10px 0px;
    margin: 5px 0px 5px 0px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
#menu li{
    display: inline-block;
    padding-left: 5px;
}
#menu li a{
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
#menu li a:hover{
    background-color: rgb(141, 131, 131);
}
#banner {
    background-image: url('/Bai01/images/banner_1024x320.jpg');
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    
    
} 
/* content */
.content{
    padding: 10px 0 0 0;
}
.content-1{
    margin-bottom: 12px;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 10px 0 0 0;
}
.row::before,
.row::after,
.col-3::before,
.col-3::after,
.col-12::before,
.col-12::after{
    content: "";
    display: table;
}
.row{
    float: left;
    width: 100%;
}
.row p{
    text-align: justify;
    color: #000;
}
.col-3 p{
    font-weight: 600;
}
.col-3{
    width: 35%;
}
.col-3-img{
    padding: 15px;
    margin-left: 5px;
    
}
.row .col-3{
    display: inline-block;
    padding-top: 10px;
}
.col-12 .subtitle{
    font-size: 18px;
}
.col-12 p{
    margin-top: 10px;
}
.col-3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 225px;
    text-align: center;
    float: left;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    display: inline-table;
}
.col-3 .subtitle{
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vien{
    padding: 0px 0 0 0px;
    display: block; 
    /* size: 50px;
    height: 50px; */
    border-top: 2px solid #333;
    margin: 15px 0 10px 0;
}
.title-2{
    font-size: 22px;
}
.rown .col-12{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0 0 0;
    margin: 2px;
}
.rown p{
    padding: 5px 0 0 0;
    line-height: 0.5cm;
    text-align: justify;
}
.content-2{
    margin-bottom: 20px;
}
/* footer */
#footer{
   text-align: center;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   float: left;
   width: 100%;
   margin-bottom: 50px;
}
.footer-1{
    padding: 2px;
    font-size: 13px;
}
.footer-2{
    padding: 3px;
    font-size: 14px;
}

